@font-face {
  font-family: 'sahel';
  src: url('../assets/fonts/Sahel.woff');
  font-display: swap;
}

body, html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  direction: rtl !important;
  font-family: 'sahel', serif !important;
  text-align: right !important;
}


a {
  text-decoration: none !important;
}

ul, ol {
  margin-bottom: unset !important;
  list-style: none;
}

//#__next {
//  min-width: 100%;
//  min-height: 100vh;
//  display: flex;
//  align-items: center;
//  justify-content: center;
//}

* {
  padding: 0;
  margin: 0;
}


//.mainContainer {
//  width: 720px;
//  height: 513px;
//  margin: auto;
//}

.container {
  max-width: 1240px !important;
}

p {
  margin: 0;
}